
.App_top {
    width: 100%;
    text-align: center;
    background-color: #3772FF;
    color: #fff;
    padding: 0.5rem 0;
    font-weight: 700;
}
.App {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}
.navbar_components {
    border-right: solid 2px #242731;
    width: 20vw;
    background-color: #000000;
}
.section_components {
    border-right: solid 2px #242731;
    width: 55vw;
    background-color: #000000;
}
.footer_components {
    width: 25vw;
    /* border: solid 2px red; */
    background-color: #000000;
}